name: Publish Docker image

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    # Publish semver tags as releases.
    tags: 
      - '*.*.*'
      - '*'
    #[ '*.*.*' ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    if: ${{ vars.DOCKER_IMAGES }}

    steps:
      - name: Get tag name
        run: echo "Tag name ${{  github.ref_name }}"
    
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
        with:
          buildkitd-config-inline: ${{ vars.BUILDX_CONFIG }}

      # https://github.com/docker/login-action
      # https://github.com/docker/login-action
      - name: Login to DockerHub
        if: ${{ env.DOCKER_USERNAME != '' }}
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        uses: docker/login-action@v3.5.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Login to registry
        env:
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
        if: ${{ env.DOCKER_REGISTRY != '' }}
        uses: docker/login-action@v3.5.0
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.7.0
        with:
          # list of Docker images to use as base name for tags
          images: ${{ vars.DOCKER_IMAGES }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=raw,value=latest
            type=sha
            # type=ref,event=tag # any tags any tag format
            type=semver,pattern={{version}}

      # Build and push Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
