name: Publish Docker image

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    # Publish semver tags as releases.
    tags: 
      - '*'

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    if: ${{ vars.DOCKER_IMAGES }}

    steps:
      - name: name of branch or tag that triggered the workflow run. 
        run: echo "${{ github.ref_name }}"
    
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        
      - name: Set up Docker
        # Docker is already up and running on GitHub-hosted runners on Linux and Windows.
        if: ${{ runner.environment != 'github-hosted' }}
        uses: docker/setup-docker-action@v4.7.0
        
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
        with:
          buildkitd-config-inline: ${{ vars.BUILDX_CONFIG }}

      # https://github.com/docker/login-action
      - name: Login to DockerHub
        if: ${{ vars.DOCKER_USERNAME != '' }}
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Login to GitHub Registry
        if: ${{ vars.GITHUB_REGISTRY }}
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to registry
        if: ${{ vars.DOCKER_REGISTRY != '' }}
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ vars.DOCKER_REGISTRY }}
          username: ${{ vars.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          # list of Docker images to use as base name for tags
          images: ${{ vars.DOCKER_IMAGES }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha
            type=ref,event=tag # any tags any tag format
            type=semver,pattern={{version}}

      # Build and push Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          # Software Bill of Material (SBOM) and provenance attestations add metadata about the contents of your image, and how it was built.
          provenance: true
          sbom: true
          # cache
          cache-from: type=gha,scope=${{ github.workflow }}
          cache-to: type=gha,mode=max,scope=${{ github.workflow }}
